@import "../../../styles/utils/responsive";

.image-popup {

  &__portal {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;

    z-index: 1;



    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
  }

  &__bg {
    width: 100%;
    height: 100%;

    background-color: rgba(19, 19, 19, 0.8  );

    display: grid;
    place-items: center;
  }

  &__img-container {
  min-width: 0;
   max-width: 100%;
   height: 100vh;
   width: 50vw;
   position: relative;
   display: grid;
   place-items: center;

   background-color: black;

   @include media('<=s-desktop') {
     width: 100vw;
     max-width: 100%;
   }
   @include media('<=phone') {
   display: grid;
   
  }

  }

  &__close {
    position: absolute;
    top: 2%;
    left: 4%;

    cursor: pointer;
  }

  &__close-icon {
    width: 20px;
    height: 20px;
  }

  &__img {
    max-height: 100vh;
    max-width: 100%;

    @include media('<=phone') {
      position: absolute;
      top: 10%;

      place-self: center;
    }
  }
}
