@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(slide-up) {
  0% {   transform: translateY(100%);}
  100% {   transform: translateY(0%);}
}

@include keyframes(slide-down) {
  0% {   transform: translateY(0%);}
  100% {   transform: translateY(100%);}
}

@include keyframes(right-to-left) {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

@include keyframes(left-to-right) {
  0% {transform: translateX(0%);}
  100% {transform: translateX(100%);}
}

@include keyframes(shimmer) {
  100% { transform: translateX(100%); }
}