@import "../utils/responsive.scss";

*,
*:after,
*:before {
  box-sizing: border-box; 
}

html {
  font-size: 62.5%;
  text-rendering: geometricPrecision;

  @include media(">phone", "<tablet") {
    font-size: 56.25%;  // 1rem = 9px
  }
 
  @include media("<=phone"  ) {
    font-size: 50%;  // 1rem = 8px
  }
}

body {
  margin-top: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

img {
  vertical-align: middle;
}